.logoLog {
    height: 220px;
    width: 310px;
    margin-top:5%;
    margin-left: -24%;
    margin-bottom: 5%;
}

.loginForm {
    margin-top: 22%;
    margin-left: 27%;
    justify-content: center;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.passInput, .userInput {
    outline: 0;
    /* border-bottom: 2px solid black; */
    background: transparent;
    border: 2px solid rgb(57,21, 134);
    margin-left: 3%;
}

.userInput{
    margin-bottom: 4%;
    margin-top: 2%;
}

.passInput{
    margin-bottom: 4%;
}

::-webkit-input-placeholder {
    text-align: center;
    color: black;
}

input:focus {
    border-color: black;
}

.buttonLogin{
    margin-left: 5%;
}

.loginBtn{
    margin-right: 2%;
    background-color: blue;
}