.backIcon{
    height: 62px;
    width: 62px;
    margin-left: 3%;
    margin-top: 4%;
    filter: drop-shadow(3px 3px 5px black);
}

.regIcon{
    height: 265px;
    width: 340px;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: -8%;
}

.regForm{
    margin-top: 5%;
    margin-left: 24%;
    justify-content: center;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.signBtn{
    /* align-content: center; */
    /* border: 1px solid yellow; */
    padding-left: 18%;
    margin-top: 5%;
    filter: drop-shadow(3px 3px 5px black);
}

input{
    margin: 5% 5%;
    outline: 0;
    border-color: rgb(94, 172, 90);
    /* border-bottom: 2px solid rgb(126, 81, 201); */
    background: transparent;
    filter: drop-shadow(2px 2px 10px black);
}

input:focus{
    border-color: rgb(126, 81, 201);
}

.inputField{
    margin: 3% 3%;
}