.back{
    height: 65px;
    width: 65px;
    margin-left: 2%;
    margin-top: 3%;
    filter: drop-shadow(3px 3px 5px black);
}

.editLogo{
    height: 220px;
    width: 290px;
    margin-bottom: -15%;
    margin-left: 10%;
    filter: drop-shadow(3px 3px 5px black);
}

.editForm{
    margin-left: 23%;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#partyAgeRange{
    background-color: lightgreen;
}
.inputs{
    outline: 0;
    border-bottom: 2px solid rgb(199, 254, 103);
    background: transparent;
    /* color: white; */
}

.inputs:focus{
    border-color: rgb(0, 85, 245);
}

.selection{
    margin-left: 5%;
}

.ageLabeled{
    margin-left: 13%;
}

.ageSelection{
    margin-left: 11%;
    margin-bottom: 5%;
}

.editSaveBtn{
    margin-left: 39%;
    filter: drop-shadow(3px 3px 5px black);
    margin-bottom: 5%;
}

select{
    color: black;
    background-color: rgb(1, 222, 248);
}

label{
    margin-left: 3%;
}

#partyAgeRange{
    background-color: rgb(0, 135, 220);
}