.exit{
    height: 17%;
    width: 17%;
    margin-left: 3%;
    margin-top: 3%;
}

.parent{
    margin-top: 20%;
    /* border: 2px solid purple; */
}

.homepage--parent{
    margin: 20%;
    margin-top: 30%;
    /* border: black solid 1px; */
}

.homepage--firstChild{
    display: flex;
    flex-direction: row;
    margin: 25px;
    /* border: 1px red solid; */
}

.homepage--secondChild{
    display: flex;
    flex-direction: row;
    margin: 25px;
    /* border: 1px solid blue; */
}

img{
    height: 90px;
    width: 90px;
}

.eyeCard .vipCard{
    margin: 55%;
    margin-bottom: 50px;
}

.eyeCard{
    margin-left: 5%;
}

label{
    text-align: center;
    font-weight: bold;
}

.djImg {
    margin-left: 14%;
}

.vipImg{
    margin-left: 15%;
    margin-right: -3%;
}


.header{
    margin-left: 12%;
    margin-top: 5%;
    margin-bottom: -40%;
    height: 275px;
    width: 290px;
}
