.logo1{
    height: 225px;
    width: 295px;
    margin-left: 13%;
}

.searchForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 27%;
}

.zipcodeInput{
    margin-bottom: 5%;
    margin-left: 2%;
}

.searchLabel{
    margin-left: 4%;
}

.searchSelect{
    margin-left: 13%;
    margin-bottom: 5%;
}

.searchBtn{
    margin-left: 16%;
    /* margin-bottom: %; */
}

.dots{
    margin-left: 18%;
    margin-top: -4%;
}
select{
    color: black;
    background-color: yellow;
}
#searchAgeRange{
    background-color: rgb(199, 121, 223); 
}