.logo1{
    height: 225px;
    width: 295px;
    margin-left: 13%;
    filter: drop-shadow(3px 3px 5px black);
}

.searchForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 27%;
}

.zipcodeInput{
    margin-bottom: 5%;
    margin-left: 2%;
    /* border-radius: 30%; */
}

.searchLabel{
    margin-left: 25%;
}

.searchSelect{
    margin-left: 13%;
    margin-bottom: 5%;
}

.searchBtn{
    margin-left: 16%;
    /* margin-bottom: %; */
    filter: drop-shadow(3px 3px 5px black);
}

.dots{
    margin-left: 18%;
    margin-top: -2%;
}
select{
    color: black;
    background-color: yellow;
}
#searchAgeRange{
    background-color: rgb(199, 121, 223); 
}

.searchPartySelect{
    filter: drop-shadow(3px 3px 5px black);
    margin-left: 12%;
    margin-bottom: 7%;
}