.searchCard{
    margin-bottom: 5%;
    padding: 5%;
}

.title{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    font-size: 30px;
}

.locate{
    margin-left: 35%;
    margin-top: 5%;
}